* [공공데이터](http://www.data.go.kr/)에서 제공하는 데이터를 활용
* [민간 아파트 가격동향](https://bit.ly/ds-house-price)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://bit.ly/ds-house-price')

In [ ]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4505 non-null   object
 1   규모구분     4505 non-null   object
 2   연도       4505 non-null   int64
 3   월        4505 non-null   int64
 4   분양가격(㎡)  4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [ ]:
# 특수문자가 있는 컬럼명 rename 이용해 바꾸기
df = df.rename(columns = {'분양가격(㎡)':'분양가격'})
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [ ]:
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

In [ ]:
# 분양가격의 dtype을 int로 변경
# df['분양가격'].astype(int) # ValueError: invalid literal for int() with base 10: '  '

In [ ]:
# '  ' 공백이 존재하는 데이터가 있는지 확인
df.loc[df['분양가격'] == '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [ ]:
# strip()를 사용하여 공백이 있는 데이터의 공백 삭제
df['분양가격'] = df['분양가격'].str.strip()

In [ ]:
# 분양가격의 dtype을 int로 변경
# df['분양가격'].astype(int) # ValueError: invalid literal for int() with base 10: ''

In [ ]:
# 정말 데이터가 없는 경우가 있는지 확인
df.loc[df['분양가격']=='']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [ ]:
# 데이터가 없는 경우는 0을 채워줌
df.loc[df['분양가격']=='', '분양가격'] = 0

In [ ]:
# 분양가격의 dtype을 int로 변경
# df['분양가격'].astype(int) # ValueError: cannot convert float NaN to integer

In [ ]:
# NaN을 0으로 변환
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
# 분양가격의 dtype을 int로 변경
# df['분양가격'].astype(int) # ValueError: invalid literal for int() with base 10: '6,657'

In [ ]:
# 콤마를 제거
df['분양가격'] = df['분양가격'].str.replace(',', '')

In [ ]:
# 분양가격의 dtype을 int로 변경
# df['분양가격'].astype(int) # ValueError: cannot convert float NaN to integer

In [ ]:
# NaN을 0으로 변환
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
# 분양가격의 dtype을 int로 변경
# df['분양가격'].astype(int) # ValueError: invalid literal for int() with base 10: '-'

In [ ]:
# 하이픈(-) 제거 및 NaN 제거
df['분양가격'] = df['분양가격'].str.replace('-', '')
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
# 분양가격의 dtype을 int로 변경
# df['분양가격'].astype(int) # ValueError: invalid literal for int() with base 10: ''

In [ ]:
# 데이터가 없는 경우는 0을 채워줌
df.loc[df['분양가격']=='', '분양가격'] = 0

In [ ]:
df['분양가격'] = df['분양가격'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

In [ ]:
df['규모구분']

0                      전체
1              전용면적 60㎡이하
2        전용면적 60㎡초과 85㎡이하
3       전용면적 85㎡초과 102㎡이하
4             전용면적 102㎡초과
              ...
4500                   전체
4501           전용면적 60㎡이하
4502     전용면적 60㎡초과 85㎡이하
4503    전용면적 85㎡초과 102㎡이하
4504          전용면적 102㎡초과
Name: 규모구분, Length: 4505, dtype: object

In [ ]:
# 규모구분 column의 불필요한 '전용면적' 글자 삭제
df['규모구분'] = df['규모구분'].str.replace('전용면적', '')

In [ ]:
df['규모구분'].value_counts()

전체               901
 60㎡이하           901
 60㎡초과 85㎡이하     901
 85㎡초과 102㎡이하    901
 102㎡초과          901
Name: 규모구분, dtype: int64

In [ ]:
# 지역명별로 평균 분양가격 확인
df.groupby('지역명')['분양가격'].mean()

지역명
강원    2339.807547
경기    4072.667925
경남    2761.275472
경북    2432.128302
광주    2450.728302
대구    3538.920755
대전    2479.135849
부산    3679.920755
서울    7225.762264
세종    2815.098113
울산    1826.101887
인천    3578.433962
전남    2270.177358
전북    2322.060377
제주    2979.407547
충남    2388.324528
충북    2316.871698
Name: 분양가격, dtype: float64

In [ ]:
# 지역별 최고 비싼 분양가
df.groupby('지역명')['분양가격'].max()

지역명
강원     3906
경기     5670
경남     4303
경북     3457
광주     4881
대구     5158
대전     4877
부산     4623
서울    13835
세종     3931
울산     3594
인천     5188
전남     3053
전북     3052
제주     5462
충남     3201
충북     2855
Name: 분양가격, dtype: int64

In [44]:
# 연도별 분양가격 평균
df.groupby('연도')['분양가격'].mean()

연도
2015    2657.474510
2016    2830.688235
2017    3004.636275
2018    2997.517647
2019    3302.353922
2020    3445.894118
Name: 분양가격, dtype: float64

In [46]:
# 전처리 완료된 파일 저장
df.to_csv('df_house_price_clean.csv', index=False)